/*====1. HEADER===*/
.bg-fix {
  background-attachment: fixed;
  background-size: cover;
}
.header {
  position: relative;
  z-index: 99999;
}
.header ul,
.header ol {
  margin-bottom: 0;
}
/*without top bar*/
.secondary-menu {
  float: right;
  padding: 26px 0;
  position: relative;
  z-index: 9;
}
.secondary-menu .btn-link {
  font-size: 15px;
  padding: 0;
}
.secondary-menu .btn-link:hover {
  color: var(--primary);
}
.secondary-menu .secondary-inner {
  display: inline-block;
  margin-left: 10px;
}
.nav-search-bar {
  background-color: rgba(255, 255, 255, 0.95);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: none;
  overflow: hidden;
  padding: 0 15px;
}
.nav-search-bar.On form {
  transition: all 0.5s ease 0.5s;
  -moz-transition: all 0.5s ease 0.5s;
  -webkit-transition: all 0.5s ease 0.5s;
  opacity: 1;
}
.nav-search-bar form {
  width: 100%;
  max-width: 700px;
  margin: auto;
  position: relative;
  top: 50%;
  transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  opacity: 0;
}
.nav-search-bar .form-control {
  padding: 15px 60px 15px 15px;
  width: 100%;
  height: 70px;
  border: none;
  background: none;
  color: #000;
  font-size: 20px;
  border-bottom: 2px solid #000;
}
.nav-search-bar .form-control::-moz-placeholder {
  color: #000;
}
.nav-search-bar .form-control:-moz-placeholder {
  color: #000;
}
.nav-search-bar .form-control:-ms-input-placeholder {
  color: #000;
}
.nav-search-bar .form-control::-webkit-input-placeholder {
  color: #000;
}
.nav-search-bar form span {
  position: absolute;
  right: 15px;
  top: 50%;
  margin: -15px 0;
  height: 25px;
  font-size: 20px;
  cursor: pointer;
  color: #000;
}
.nav-search-bar > span {
  position: absolute;
  right: 15px;
  top: 15px;
  height: 25px;
  font-size: 20px;
  cursor: pointer;
  color: #000;
}
.header-lang-bx .dropdown-menu {
  top: 10px !important;
  right: 0;
  left: auto !important;
}
.header-lang-bx ul li {
  margin: 0 !important;
}
.header-lang-bx .flag:after {
  content: "";
  width: 20px;
  height: 12px;
  display: inline-block;
  background-size: cover;
  background-position: center;
  margin-top: 0px;
  margin-right: 2px;
}
.header-lang-bx .flag.flag-uk:after {
  background-image: url(../../../error-404.html);
}
.header-lang-bx .flag.flag-us:after {
  background-image: url(../../../error-404.html);
}
@media only screen and (max-width: 767px) {
  .secondary-menu {
    margin-right: 5px;
  }
}
@media only screen and (max-width: 480px) {
  .secondary-menu {
    margin: 0 1px 0 0;
    text-align: right;
  }
}
/*=================================
	2. HEADER TOPBAR
=================================*/
.top-bar {
  background-color: #ffffff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  color: #000;
  padding: 11px 0;
}

.topbar-right ul li:after {
  right: auto;
  left: 0;
}
.topbar-right ul li:first-child:after,
.topbar-left ul li:last-child:after {
  content: none;
}
.header-lang-bx .btn:focus,
.header-lang-bx .btn:hover,
.header-lang-bx .btn {
  border: 0 !important;
}
.header-lang-bx .btn {
  padding: 0 10px 0px 0 !important;
  height: 18px;
  color: #000;
  font-family: rubik;
  font-size: 14px;
}
.header-lang-bx.bootstrap-select.btn-group .dropdown-toggle .caret {
  right: 0;
  top: 5px;
}
.header-lang-bx .btn .fa-caret-down:before {
  content: "\f107";
}
@media only screen and (max-width: 991px) {
  .topbar-right {
    padding-left: 0;
    padding-right: 15px;
  }
  .topbar-left {
    padding-left: 15px;
    padding-right: 0;
  }
}
@media only screen and (max-width: 767px) {
  .top-bar [class*="col-"] {
    width: 100%;
    text-align: right;
    padding: 10px 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  .top-bar [class*="col-"]:last-child {
    border-bottom: none;
  }
  .top-bar {
    padding: 5px 0;
  }
  .topbar-center,
  .topbar-left,
  .topbar-right {
    display: black;
    width: 100%;
    text-align: center;
    padding: 3px 15px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .topbar-left ul li {
    padding: 0 5px;
  }
}
/*=================================
	4. MENU BAR
=================================*/
.menu-bar {
  background: #ffffff;
  width: 100%;
  position: relative;
}
.navbar-toggler {
  border: 0 solid #efbb20;
  font-size: 16px;
  line-height: 24px;
  margin: 32px 0 30px 15px;
  padding: 0;
  float: right;
}
.navbar-toggler span {
  background: #000;
}
.is-fixed .navbar-toggler {
  margin: 28px 0 20px 15px;
}
.menu-adv-title {
  font-size: 16px;
  text-transform: capitalize;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-bottom: 10px;
  position: relative;
}
.menu-adv-title:after {
  content: "";
  width: 25px;
  height: 2px;
  display: block;
  background: #000;
  position: absolute;
  bottom: 0;
  left: 0;
}
.menu-links .menu-logo,
.menu-links .nav-social-link {
  display: none;
}
/* Header Extra Nav */
.secondary-inner ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.secondary-inner ul li {
  display: inline-block;
  position: relative;
}
.secondary-inner ul li a {
  color: #000;
}
.search-btn {
  padding-left: 10px;
  margin-left: 10px;
}
.search-btn:after {
  left: 0;
  right: auto;
  top: 5px;
}
.search-btn .btn-link i {
  margin-left: 5px;
}
@media only screen and (max-width: 991px) {
  .add-menu-left ul {
    display: block !important;
  }
  .menu-links .menu-logo,
  .menu-links .nav-social-link {
    display: block;
  }
  .menu-links .nav-social-link {
    position: sticky;
    top: 100%;
    left: 0;
    text-align: center;
    width: 100%;
    padding: 10px 0;
    background: #fff;
  }
  .menu-links .nav-social-link a {
    color: #000;
    padding: 5px 10px;
  }
  .menu-links .nav > li.has-mega-menu.demos .mega-menu {
    max-width: 100%;
  }
  .menu-links .nav > li .mega-menu {
    border: 0;
  }
  .menu-links .nav > li .mega-menu > li {
    padding: 10px 0;
  }
  .menu-links .nav > li .sub-menu,
  .menu-links .nav > li .mega-menu {
    border-radius: 0;
    border-width: 1px 0 1px 0;
  }
  .menu-links .nav i {
    margin-top: 6px;
    float: right;
  }
  .menu-links {
    clear: both;
    margin: 0 -15px;
    border-bottom: 1px solid #e9e9e9;
  }
  .menu-links .nav {
    float: none;
    background: #fff;
    width: 100%;
    display: block;
    margin: auto;
  }
  .menu-links .nav li {
    float: none;
    display: block;
    width: 100%;
  }
  .menu-links .nav > li .sub-menu > li,
  .menu-links .nav > li .mega-menu > li {
    float: none;
    display: block;
    width: auto;
  }
  .menu-links .nav > li > a {
    padding: 10px 15px;
    border-top: 1px dashed #e9e9e9;
    display: block;
  }
  .menu-links .nav > li > a:hover,
  .menu-links .nav > li > a:active,
  .menu-links .nav > li > a:focus {
    background-color: #f0f0f0;
    text-decoration: none;
  }
  .menu-links .nav > li .mega-menu > li:after {
    display: none;
  }
  .menu-links .nav > li ul,
  .menu-links .nav > li .sub-menu,
  .menu-links .nav > li .mega-menu {
    display: none;
    position: static;
    visibility: visible;
    width: auto;
    background: transparent;
  }
  .menu-links .nav > li ul.mega-menu ul {
    display: none;
  }
  .menu-links .nav > li:hover > ul,
  .menu-links .nav > li:hover .sub-menu,
  .menu-links .nav > li:hover .mega-menu,
  .menu-links .nav > li .sub-menu li > .sub-menu {
    opacity: 1;
    visibility: visible;
    display: block;
    margin: 0;
  }
  .menu-links .nav > li ul.mega-menu li:hover ul {
    display: block;
  }
  .side-nav .nav.navbar-nav li a i.fa-chevron-down:before,
  .nav.navbar-nav li a i.fa-chevron-down:before {
    content: "\f078";
  }
  .side-nav .nav.navbar-nav li.open a i.fa-chevron-down:before,
  .nav.navbar-nav li.open a i.fa-chevron-down:before {
    content: "\f054";
  }
  .menu-links .nav > li .sub-menu li i.fa-angle-right:before {
    content: "\f078";
    font-size: 10px;
    position: absolute;
    z-index: 2;
    color: #000;
    right: 20px;
    top: -5px;
  }
  .menu-links .nav > li .sub-menu li.open i.fa-angle-right:before {
    content: "\f054";
  }
  .menu-links .nav > li .sub-menu .sub-menu,
  .menu-links .nav > li:hover .sub-menu .sub-menu,
  .menu-links .nav > li:hover .sub-menu,
  .menu-links .nav > li:hover .mega-menu {
    display: none;
    opacity: 1;
    margin-top: 0;
  }
  .menu-links .nav li .sub-menu .sub-menu {
    display: none;
    opacity: 1;
    margin-top: 0;
  }
  .menu-links .nav > li.open > .sub-menu .sub-menu {
    display: none;
  }
  .menu-links .nav > li.open > .sub-menu li.open .sub-menu,
  .menu-links .nav > li.open > .mega-menu,
  .menu-links .nav > li.open > .sub-menu,
  .menu-links .nav > li ul.mega-menu ul {
    display: block;
    opacity: 1;
    margin-top: 0;
    box-shadow: none;
  }
  .menu-links .nav > li:hover > a:after {
    content: none;
  }
  .menu-links .nav > li .sub-menu li .fa {
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    margin: 0;
    right: -1px;
    color: #000;
  }
  .menu-links .nav > li .mega-menu > li {
    padding: 0;
  }
  .menu-links .nav > li .mega-menu > li > a {
    display: none;
  }
  .menu-links .nav .mega-menu a i {
    display: inline-block;
    float: none;
    margin-top: 0;
  }
  .menu-links .nav .open > a,
  .menu-links .nav .open > a:focus,
  .menu-links .nav .open > a:hover {
    background-color: inherit;
    border-color: #e9e9e9;
  }
}
@media screen and (max-width: 991px) {
  .rs-nav .menu-links.nav-dark {
    background-color: #202020;
  }
  .rs-nav .menu-links {
    position: fixed;
    width: 60px;
    left: -280px;
    height: 100vh !important;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    top: 0;
    background-color: #fff;
    margin: 0;
    z-index: 99;
    overflow-y: scroll;
  }
  .rs-nav .menu-links li.open a {
    position: relative;
  }
  .navbar-nav {
    height: auto;
  }
  .rs-nav .menu-links.show {
    left: -1px;
    transition: all 0.8s;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    margin: 0;
    width: 100%;
    width: 300px;
    padding: 15px 15px 5px 15px;
  }
  .rs-nav .is-fixed .menu-links .nav {
    height: auto;
  }
  .rs-nav .navbar-toggler.open:after {
    background-color: rgba(0, 0, 0, 0.6);
    content: "";
    height: 100%;
    left: 0;
    position: fixed;
    right: 0px;
    top: -20px;
    transform: scale(100);
    -o-transform: scale(100);
    -moz-transform: scale(100);
    -webkit-transform: scale(100);
    width: 100%;
    z-index: -1;
    transition: all 0.5s;
    transform-origin: top right;
    margin: 0 0px 0px 10px;
    box-shadow: 0 0 0 500px rgba(0, 0, 0, 0.6);
  }
  .rs-nav .menu-links .menu-logo {
    display: block;
    float: none;
    height: auto;
    max-width: 100%;
    padding: 20px 15px;
    width: 100%;
    text-align: center;
  }
  .rs-nav .menu-links .menu-logo img {
    max-width: unset;
    width: 130px;
    vertical-align: middle;
  }
  .rs-nav .menu-links .menu-logo a {
    display: inline-block;
  }
  .rs-nav .navbar-toggler.open span {
    background: #fff;
  }
}
.sticky-no .menu-bar {
  position: static !important;
}
.is-fixed .menu-bar {
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
.is-fixed .menu-links .nav > li > a {
  padding: 25px 12px;
}
.is-fixed .secondary-menu {
  padding: 21px 0;
}
@media only screen and (max-width: 991px) {
  .is-fixed .menu-links .nav > li > a {
    padding: 10px 15px;
  }
}
@media only screen and (max-width: 767px) {
  .is-fixed .menu-links .nav {
    height: 225px;
  }
  .is-fixed .menu-links .nav > li > a {
    padding: 10px 15px;
  }
}
/*=================================
	6. HEADER TRANSPARENT
=================================*/
.header-transparent {
  position: absolute;
  width: 100%;
}
.header-transparent .menu-bar {
  background-color: rgba(0, 0, 0, 0);
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}
.header-transparent .menu-links .nav > li > a {
  color: #fff;
}
.header-transparent .menu-links .nav > li > a,
.header-transparent .secondary-menu .btn-link,
.header-transparent .navbar-toggler {
  color: #fff;
}
.header-transparent .secondary-menu .btn-link:hover {
  color: var(--primary);
}
.header-transparent .navbar-toggler span {
  background-color: #fff;
}
.header-transparent .is-fixed .menu-bar {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.9);
}
.header-transparent .top-bar {
  background-color: rgba(0, 0, 0, 0);
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
  color: #dfdfdf;
}
.header-transparent .search-btn:after,
.header-transparent .topbar-left ul li:after,
.header-transparent .topbar-right ul li:after {
  background-color: #fff;
}
.fullwidth .container-fluid {
  padding-left: 30px;
  padding-right: 30px;
}
.onepage .navbar {
  margin-bottom: 0;
  border: 0;
}
.header-transparent .header-lang-bx .btn {
  background-color: transparent !important;
  color: #fff;
}
.header-transparent .topbar-right .header-lang-bx ul li a {
  color: #000;
}
.header-transparent .topbar-left ul li a,
.header-transparent .topbar-right ul li a {
  color: #fff;
}
@media only screen and (max-width: 991px) {
  .header-transparent .menu-links .nav > li > a {
    color: #000;
  }
  .header-transparent .menu-links.nav-dark .nav > li > a {
    color: #fff;
  }
}
@media only screen and (max-width: 767px) {
  .fullwidth .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
  }
}
/*=================================
	7. MENU ICON
=================================*/
.menuicon {
  width: 20px;
  height: 14px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.menuicon span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  border-radius: 1px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
.menuicon span:nth-child(1) {
  top: 0px;
}
.menuicon span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}
.menuicon span:nth-child(3) {
  bottom: 0;
}
.menuicon.open span:nth-child(1) {
  top: 7px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}
.menuicon.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}
.menuicon.open span:nth-child(3) {
  top: 7px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
/*==== 12. FOOTER ====*/
footer h1,
footer h2,
footer h3,
footer h4,
footer h5,
footer h6,
footer h1 a,
footer h2 a,
footer h3 a,
footer h4 a,
footer h5 a,
footer h6 a {
  color: #b0b0b0;
}
footer p,
footer strong,
footer b,
footer {
  color: #b0b0b0;
}
footer h1 a,
footer h2 a,
footer h3 a,
footer h4 a,
footer h5 a,
footer h6 a,
footer p a {
  color: #b0b0b0;
}

footer .btn-link,
footer a,
footer p a {
  color: #b0b0b0;
}
footer a:active,
footer a:focus,
footer a:hover {
  color: #b0b0b0;
}

/* Testimonials */
.testimonial-bx {
  background-color: #fff;
  padding: 20px 20px 20px 70px;
  border-radius: 5px;
  margin-left: 30px;
  border: 1px solid #f0f0f0;
}
.testimonial-bx .testimonial-content p,
.testimonial-bx .testimonial-info p {
  margin: 0;
}
.testimonial-bx .testimonial-info h5 {
  font-weight: 500;
  margin-bottom: 0;
}
.testimonial-bx .testimonial-info {
  margin-bottom: 15px;
}
.testimonial-bx .testimonial-info:after {
  content: "\f10e";
  position: absolute;
  font-family: fontawesome;
  font-size: 50px;
  color: #d6d6d6;
  right: 30px;
  top: 10px;
  z-index: 9;
}
.testimonial-thumb {
  width: 80px;
  border-radius: 50px;
  overflow: hidden;
  border: 3px solid #fff;
  box-shadow: 0 0 8px 5px rgba(0, 0, 0, 0.1);
  position: absolute;
  left: 0;
  z-index: 9;
}
.testimonial-bx .testimonial-content p {
  color: #000;
  font-size: 15px;
}
.ovbl-middle:after,
.ovbl-light:after,
.ovbl-dark:after {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#391800+0,001739+38,321001+71,011e32+100 */
  background: #391800; /* Old browsers */
  background: -moz-linear-gradient(
    left,
    #391800 0%,
    #001739 38%,
    #321001 71%,
    #011e32 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    left,
    #391800 0%,
    #001739 38%,
    #321001 71%,
    #011e32 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to right,
    #391800 0%,
    #001739 38%,
    #320101 71%,
    #011e32 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#391800', endColorstr='#011e32',GradientType=1 ); /* IE6-9 */
}
.courses-search-bx .input-group,
.contact-bx .input-group {
  display: block;
  position: relative;
}
.courses-search-bx .input-group .form-control,
.contact-bx .input-group .form-control,
.courses-search-bx .input-group label,
.contact-bx .input-group label {
  width: 100%;
}
.courses-search-bx .input-group label,
.contact-bx .input-group label {
  font-size: 14px;
  font-weight: 400;
  color: #606060;
  position: absolute;
  top: 10px;
  left: 0;
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.courses-search-bx .focused .input-group label,
.contact-bx .focused .input-group label {
  top: -8px;
  font-size: 10px;
  color: var(--primary);
}
.contact-bx .input-group textarea.form-control {
  height: 120px;
}
.courses-search-bx .input-group .form-control,
.contact-bx .input-group .form-control {
  border-width: 0 0 1px 0;
  background-color: rgba(0, 0, 0, 0);
  padding: 10px 0;
}
.contact-bx .heading-bx {
  margin-bottom: 30px;
}
.courses-search-bx .input-group .form-control {
  border-width: 0 0 2px 0;
  border-color: #e0e0e0;
}
.faq-bx .panel {
  border: 1px solid #d0d0d0;
  padding: 12px 0px 12px 20px;
  border-radius: 4px;
  margin-bottom: 4px;
}
.faq-bx .acod-title a {
  padding: 0px 50px 0px 0px;
  border: 0;
  color: #000;
}
.faq-bx .acod-content {
  margin: 10px 0 0 0;
}
.faq-bx .acod-body {
  border: 0;
}

.review-bx {
  display: flex;
  align-items: center;
  padding: 20px 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}
@media only screen and (max-width: 1200px) {
  .cours-more-info .review {
    padding: 8px 12px;
  }
  .service-info-bx .action-box {
    margin-top: 40px;
  }
  .account-head {
    width: 350px;
    min-width: 350px;
  }
  .service-bx h4 {
    font-size: 20px;
  }
  .rev-btn {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
  .pricingtable-bx {
    font-size: 80px;
  }
}
